<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.tandy.chis.modules.doctorworkstation.dao.DiagnoseLibraryMapper">
  <resultMap id="BaseResultMap" type="pers.tandy.chis.modules.doctorworkstation.bean.DiagnoseLibrary">
    <id column="oid" jdbcType="VARCHAR" property="oid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="dwt_diagnose_classify_id" jdbcType="INTEGER" property="dwtDiagnoseClassifyId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    oid, name, code, dwt_diagnose_classify_id
  </sql>
  <select id="selectByExample" parameterType="pers.tandy.chis.modules.doctorworkstation.bean.DiagnoseLibraryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dwt_diagnose_library
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from dwt_diagnose_library
    where oid = #{oid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dwt_diagnose_library
    where oid = #{oid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="pers.tandy.chis.modules.doctorworkstation.bean.DiagnoseLibraryExample">
    delete from dwt_diagnose_library
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="pers.tandy.chis.modules.doctorworkstation.bean.DiagnoseLibrary">
    insert into dwt_diagnose_library (oid, name, code,
      dwt_diagnose_classify_id)
    values (#{oid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR},
      #{dwtDiagnoseClassifyId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="pers.tandy.chis.modules.doctorworkstation.bean.DiagnoseLibrary">
    insert into dwt_diagnose_library
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        oid,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="dwtDiagnoseClassifyId != null">
        dwt_diagnose_classify_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="dwtDiagnoseClassifyId != null">
        #{dwtDiagnoseClassifyId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="pers.tandy.chis.modules.doctorworkstation.bean.DiagnoseLibraryExample" resultType="java.lang.Long">
    select count(*) from dwt_diagnose_library
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dwt_diagnose_library
    <set>
      <if test="record.oid != null">
        oid = #{record.oid,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.code != null">
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.dwtDiagnoseClassifyId != null">
        dwt_diagnose_classify_id = #{record.dwtDiagnoseClassifyId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dwt_diagnose_library
    set oid = #{record.oid,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      code = #{record.code,jdbcType=VARCHAR},
      dwt_diagnose_classify_id = #{record.dwtDiagnoseClassifyId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="pers.tandy.chis.modules.doctorworkstation.bean.DiagnoseLibrary">
    update dwt_diagnose_library
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="dwtDiagnoseClassifyId != null">
        dwt_diagnose_classify_id = #{dwtDiagnoseClassifyId,jdbcType=INTEGER},
      </if>
    </set>
    where oid = #{oid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="pers.tandy.chis.modules.doctorworkstation.bean.DiagnoseLibrary">
    update dwt_diagnose_library
    set name = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      dwt_diagnose_classify_id = #{dwtDiagnoseClassifyId,jdbcType=INTEGER}
    where oid = #{oid,jdbcType=VARCHAR}
  </update>

  <!-- ************************************************************************************************************ -->

  <select id="selectByCriteria" resultType="map">
    select a.*,
    (case when b.id is not null then true else false end) as used
    from view_dwt_diagnose_library a
    left join dwt_common_diagnose b on a.name = b.name
    <trim prefix="where" suffixOverrides="and">
      <if test="dwtDiagnoseClassifyId != null">
        (a.dwtDiagnoseClassifyId = #{dwtDiagnoseClassifyId}) and
      </if>
      <if test="dwtDiagnoseClassifyId == null">
        (a.dwtDiagnoseTypeId = #{dwtDiagnoseTypeId}) and
      </if>
      <if test="name != null &amp;&amp; name.trim() != ''">
        (a.name like '${name}%' or a.code like '${name}%') and
      </if>
    </trim>
    order by a.dwtDiagnoseClassifyId, a.oid
  </select>





















</mapper>
