<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.tandy.chis.modules.doctorworkstation.dao.PerformItemRecordMapper">
  <resultMap id="BaseResultMap" type="pers.tandy.chis.modules.doctorworkstation.bean.PerformItemRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="lsh" jdbcType="VARCHAR" property="lsh" />
    <result column="dwt_perform_item_id" jdbcType="INTEGER" property="dwtPerformItemId" />
    <result column="perform_quantity" jdbcType="INTEGER" property="performQuantity" />
    <result column="residue_quantity" jdbcType="INTEGER" property="residueQuantity" />
    <result column="sys_clinic_id" jdbcType="INTEGER" property="sysClinicId" />
    <result column="operator_id" jdbcType="INTEGER" property="operatorId" />
    <result column="creation_date" jdbcType="TIMESTAMP" property="creationDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, lsh, dwt_perform_item_id, perform_quantity, residue_quantity, sys_clinic_id,
    operator_id, creation_date
  </sql>
  <select id="selectByExample" parameterType="pers.tandy.chis.modules.doctorworkstation.bean.PerformItemRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dwt_perform_item_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from dwt_perform_item_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dwt_perform_item_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="pers.tandy.chis.modules.doctorworkstation.bean.PerformItemRecordExample">
    delete from dwt_perform_item_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="pers.tandy.chis.modules.doctorworkstation.bean.PerformItemRecord">
    insert into dwt_perform_item_record (id, lsh, dwt_perform_item_id,
      perform_quantity, residue_quantity, sys_clinic_id,
      operator_id, creation_date)
    values (#{id,jdbcType=INTEGER}, #{lsh,jdbcType=VARCHAR}, #{dwtPerformItemId,jdbcType=INTEGER},
      #{performQuantity,jdbcType=INTEGER}, #{residueQuantity,jdbcType=INTEGER}, #{sysClinicId,jdbcType=INTEGER},
      #{operatorId,jdbcType=INTEGER}, #{creationDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="pers.tandy.chis.modules.doctorworkstation.bean.PerformItemRecord">
    insert into dwt_perform_item_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="lsh != null">
        lsh,
      </if>
      <if test="dwtPerformItemId != null">
        dwt_perform_item_id,
      </if>
      <if test="performQuantity != null">
        perform_quantity,
      </if>
      <if test="residueQuantity != null">
        residue_quantity,
      </if>
      <if test="sysClinicId != null">
        sys_clinic_id,
      </if>
      <if test="operatorId != null">
        operator_id,
      </if>
      <if test="creationDate != null">
        creation_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="lsh != null">
        #{lsh,jdbcType=VARCHAR},
      </if>
      <if test="dwtPerformItemId != null">
        #{dwtPerformItemId,jdbcType=INTEGER},
      </if>
      <if test="performQuantity != null">
        #{performQuantity,jdbcType=INTEGER},
      </if>
      <if test="residueQuantity != null">
        #{residueQuantity,jdbcType=INTEGER},
      </if>
      <if test="sysClinicId != null">
        #{sysClinicId,jdbcType=INTEGER},
      </if>
      <if test="operatorId != null">
        #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="creationDate != null">
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="pers.tandy.chis.modules.doctorworkstation.bean.PerformItemRecordExample" resultType="java.lang.Long">
    select count(*) from dwt_perform_item_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dwt_perform_item_record
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.lsh != null">
        lsh = #{record.lsh,jdbcType=VARCHAR},
      </if>
      <if test="record.dwtPerformItemId != null">
        dwt_perform_item_id = #{record.dwtPerformItemId,jdbcType=INTEGER},
      </if>
      <if test="record.performQuantity != null">
        perform_quantity = #{record.performQuantity,jdbcType=INTEGER},
      </if>
      <if test="record.residueQuantity != null">
        residue_quantity = #{record.residueQuantity,jdbcType=INTEGER},
      </if>
      <if test="record.sysClinicId != null">
        sys_clinic_id = #{record.sysClinicId,jdbcType=INTEGER},
      </if>
      <if test="record.operatorId != null">
        operator_id = #{record.operatorId,jdbcType=INTEGER},
      </if>
      <if test="record.creationDate != null">
        creation_date = #{record.creationDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dwt_perform_item_record
    set id = #{record.id,jdbcType=INTEGER},
      lsh = #{record.lsh,jdbcType=VARCHAR},
      dwt_perform_item_id = #{record.dwtPerformItemId,jdbcType=INTEGER},
      perform_quantity = #{record.performQuantity,jdbcType=INTEGER},
      residue_quantity = #{record.residueQuantity,jdbcType=INTEGER},
      sys_clinic_id = #{record.sysClinicId,jdbcType=INTEGER},
      operator_id = #{record.operatorId,jdbcType=INTEGER},
      creation_date = #{record.creationDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="pers.tandy.chis.modules.doctorworkstation.bean.PerformItemRecord">
    update dwt_perform_item_record
    <set>
      <if test="lsh != null">
        lsh = #{lsh,jdbcType=VARCHAR},
      </if>
      <if test="dwtPerformItemId != null">
        dwt_perform_item_id = #{dwtPerformItemId,jdbcType=INTEGER},
      </if>
      <if test="performQuantity != null">
        perform_quantity = #{performQuantity,jdbcType=INTEGER},
      </if>
      <if test="residueQuantity != null">
        residue_quantity = #{residueQuantity,jdbcType=INTEGER},
      </if>
      <if test="sysClinicId != null">
        sys_clinic_id = #{sysClinicId,jdbcType=INTEGER},
      </if>
      <if test="operatorId != null">
        operator_id = #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="creationDate != null">
        creation_date = #{creationDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pers.tandy.chis.modules.doctorworkstation.bean.PerformItemRecord">
    update dwt_perform_item_record
    set lsh = #{lsh,jdbcType=VARCHAR},
      dwt_perform_item_id = #{dwtPerformItemId,jdbcType=INTEGER},
      perform_quantity = #{performQuantity,jdbcType=INTEGER},
      residue_quantity = #{residueQuantity,jdbcType=INTEGER},
      sys_clinic_id = #{sysClinicId,jdbcType=INTEGER},
      operator_id = #{operatorId,jdbcType=INTEGER},
      creation_date = #{creationDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--***************************************************************************************************************-->

  <select id="selectByCriteria" resultType="map">
    select *
    from view_dwt_perform_item_record
    <trim prefix="where" suffixOverrides="and">
      <if test="creationDate != null &amp;&amp; creationDate.length == 2">
        (DATE_FORMAT(creationDate, '%Y-%m-%d') between #{creationDate[0]} and #{creationDate[1]}) and
      </if>
      <if test="mrmMemberName != null &amp;&amp; mrmMemberName.trim() != ''">
        (mrmMemberName like '${mrmMemberName}%' or mrmMemberCode like '${mrmMemberName}%' or phone like '${mrmMemberName}%') and
      </if>
      <if test="operatorName != null &amp;&amp; operatorName.trim() != ''">
        (operatorName like '${operatorName}%' or operatorCode like '${operatorName}%') and
      </if>
    </trim>
    order by creationDate desc, cimItemName
  </select>









</mapper>
