<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.tandy.chis.modules.inventorymanagement.dao.SelfUsedRecordMapper">
  <resultMap id="BaseResultMap" type="pers.tandy.chis.modules.inventorymanagement.bean.SelfUsedRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="lsh" jdbcType="VARCHAR" property="lsh" />
    <result column="mxh" jdbcType="VARCHAR" property="mxh" />
    <result column="iym_inventory_id" jdbcType="INTEGER" property="iymInventoryId" />
    <result column="gsm_goods_id" jdbcType="INTEGER" property="gsmGoodsId" />
    <result column="ph" jdbcType="VARCHAR" property="ph" />
    <result column="pch" jdbcType="VARCHAR" property="pch" />
    <result column="split_quantity" jdbcType="INTEGER" property="splitQuantity" />
    <result column="quantity" jdbcType="SMALLINT" property="quantity" />
    <result column="cost_price" jdbcType="REAL" property="costPrice" />
    <result column="average_cost_price" jdbcType="REAL" property="averageCostPrice" />
    <result column="purchase_tax_rate" jdbcType="TINYINT" property="purchaseTaxRate" />
    <result column="sell_tax_rate" jdbcType="TINYINT" property="sellTaxRate" />
    <result column="produced_date" jdbcType="DATE" property="producedDate" />
    <result column="expiry_date" jdbcType="DATE" property="expiryDate" />
    <result column="pem_supplier_id" jdbcType="INTEGER" property="pemSupplierId" />
    <result column="iym_inventory_add_id" jdbcType="INTEGER" property="iymInventoryAddId" />
    <result column="notes" jdbcType="VARCHAR" property="notes" />
    <result column="sys_clinic_id" jdbcType="INTEGER" property="sysClinicId" />
    <result column="creator_id" jdbcType="INTEGER" property="creatorId" />
    <result column="creation_date" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="approver_id" jdbcType="INTEGER" property="approverId" />
    <result column="approve_date" jdbcType="TIMESTAMP" property="approveDate" />
    <result column="approve_state" jdbcType="TINYINT" property="approveState" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, lsh, mxh, iym_inventory_id, gsm_goods_id, ph, pch, split_quantity, quantity,
    cost_price, average_cost_price, purchase_tax_rate, sell_tax_rate, produced_date,
    expiry_date, pem_supplier_id, iym_inventory_add_id, notes, sys_clinic_id, creator_id,
    creation_date, approver_id, approve_date, approve_state
  </sql>
  <select id="selectByExample" parameterType="pers.tandy.chis.modules.inventorymanagement.bean.SelfUsedRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from iym_self_used_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from iym_self_used_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from iym_self_used_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="pers.tandy.chis.modules.inventorymanagement.bean.SelfUsedRecordExample">
    delete from iym_self_used_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="pers.tandy.chis.modules.inventorymanagement.bean.SelfUsedRecord">
    insert into iym_self_used_record (id, lsh, mxh,
      iym_inventory_id, gsm_goods_id, ph,
      pch, split_quantity, quantity,
      cost_price, average_cost_price, purchase_tax_rate,
      sell_tax_rate, produced_date, expiry_date,
      pem_supplier_id, iym_inventory_add_id, notes,
      sys_clinic_id, creator_id, creation_date,
      approver_id, approve_date, approve_state
      )
    values (#{id,jdbcType=INTEGER}, #{lsh,jdbcType=VARCHAR}, #{mxh,jdbcType=VARCHAR},
      #{iymInventoryId,jdbcType=INTEGER}, #{gsmGoodsId,jdbcType=INTEGER}, #{ph,jdbcType=VARCHAR},
      #{pch,jdbcType=VARCHAR}, #{splitQuantity,jdbcType=INTEGER}, #{quantity,jdbcType=SMALLINT},
      #{costPrice,jdbcType=REAL}, #{averageCostPrice,jdbcType=REAL}, #{purchaseTaxRate,jdbcType=TINYINT},
      #{sellTaxRate,jdbcType=TINYINT}, #{producedDate,jdbcType=DATE}, #{expiryDate,jdbcType=DATE},
      #{pemSupplierId,jdbcType=INTEGER}, #{iymInventoryAddId,jdbcType=INTEGER}, #{notes,jdbcType=VARCHAR},
      #{sysClinicId,jdbcType=INTEGER}, #{creatorId,jdbcType=INTEGER}, #{creationDate,jdbcType=TIMESTAMP},
      #{approverId,jdbcType=INTEGER}, #{approveDate,jdbcType=TIMESTAMP}, #{approveState,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="pers.tandy.chis.modules.inventorymanagement.bean.SelfUsedRecord">
    insert into iym_self_used_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="lsh != null">
        lsh,
      </if>
      <if test="mxh != null">
        mxh,
      </if>
      <if test="iymInventoryId != null">
        iym_inventory_id,
      </if>
      <if test="gsmGoodsId != null">
        gsm_goods_id,
      </if>
      <if test="ph != null">
        ph,
      </if>
      <if test="pch != null">
        pch,
      </if>
      <if test="splitQuantity != null">
        split_quantity,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="costPrice != null">
        cost_price,
      </if>
      <if test="averageCostPrice != null">
        average_cost_price,
      </if>
      <if test="purchaseTaxRate != null">
        purchase_tax_rate,
      </if>
      <if test="sellTaxRate != null">
        sell_tax_rate,
      </if>
      <if test="producedDate != null">
        produced_date,
      </if>
      <if test="expiryDate != null">
        expiry_date,
      </if>
      <if test="pemSupplierId != null">
        pem_supplier_id,
      </if>
      <if test="iymInventoryAddId != null">
        iym_inventory_add_id,
      </if>
      <if test="notes != null">
        notes,
      </if>
      <if test="sysClinicId != null">
        sys_clinic_id,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="creationDate != null">
        creation_date,
      </if>
      <if test="approverId != null">
        approver_id,
      </if>
      <if test="approveDate != null">
        approve_date,
      </if>
      <if test="approveState != null">
        approve_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="lsh != null">
        #{lsh,jdbcType=VARCHAR},
      </if>
      <if test="mxh != null">
        #{mxh,jdbcType=VARCHAR},
      </if>
      <if test="iymInventoryId != null">
        #{iymInventoryId,jdbcType=INTEGER},
      </if>
      <if test="gsmGoodsId != null">
        #{gsmGoodsId,jdbcType=INTEGER},
      </if>
      <if test="ph != null">
        #{ph,jdbcType=VARCHAR},
      </if>
      <if test="pch != null">
        #{pch,jdbcType=VARCHAR},
      </if>
      <if test="splitQuantity != null">
        #{splitQuantity,jdbcType=INTEGER},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=SMALLINT},
      </if>
      <if test="costPrice != null">
        #{costPrice,jdbcType=REAL},
      </if>
      <if test="averageCostPrice != null">
        #{averageCostPrice,jdbcType=REAL},
      </if>
      <if test="purchaseTaxRate != null">
        #{purchaseTaxRate,jdbcType=TINYINT},
      </if>
      <if test="sellTaxRate != null">
        #{sellTaxRate,jdbcType=TINYINT},
      </if>
      <if test="producedDate != null">
        #{producedDate,jdbcType=DATE},
      </if>
      <if test="expiryDate != null">
        #{expiryDate,jdbcType=DATE},
      </if>
      <if test="pemSupplierId != null">
        #{pemSupplierId,jdbcType=INTEGER},
      </if>
      <if test="iymInventoryAddId != null">
        #{iymInventoryAddId,jdbcType=INTEGER},
      </if>
      <if test="notes != null">
        #{notes,jdbcType=VARCHAR},
      </if>
      <if test="sysClinicId != null">
        #{sysClinicId,jdbcType=INTEGER},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="creationDate != null">
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="approverId != null">
        #{approverId,jdbcType=INTEGER},
      </if>
      <if test="approveDate != null">
        #{approveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="approveState != null">
        #{approveState,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="pers.tandy.chis.modules.inventorymanagement.bean.SelfUsedRecordExample" resultType="java.lang.Long">
    select count(*) from iym_self_used_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update iym_self_used_record
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.lsh != null">
        lsh = #{record.lsh,jdbcType=VARCHAR},
      </if>
      <if test="record.mxh != null">
        mxh = #{record.mxh,jdbcType=VARCHAR},
      </if>
      <if test="record.iymInventoryId != null">
        iym_inventory_id = #{record.iymInventoryId,jdbcType=INTEGER},
      </if>
      <if test="record.gsmGoodsId != null">
        gsm_goods_id = #{record.gsmGoodsId,jdbcType=INTEGER},
      </if>
      <if test="record.ph != null">
        ph = #{record.ph,jdbcType=VARCHAR},
      </if>
      <if test="record.pch != null">
        pch = #{record.pch,jdbcType=VARCHAR},
      </if>
      <if test="record.splitQuantity != null">
        split_quantity = #{record.splitQuantity,jdbcType=INTEGER},
      </if>
      <if test="record.quantity != null">
        quantity = #{record.quantity,jdbcType=SMALLINT},
      </if>
      <if test="record.costPrice != null">
        cost_price = #{record.costPrice,jdbcType=REAL},
      </if>
      <if test="record.averageCostPrice != null">
        average_cost_price = #{record.averageCostPrice,jdbcType=REAL},
      </if>
      <if test="record.purchaseTaxRate != null">
        purchase_tax_rate = #{record.purchaseTaxRate,jdbcType=TINYINT},
      </if>
      <if test="record.sellTaxRate != null">
        sell_tax_rate = #{record.sellTaxRate,jdbcType=TINYINT},
      </if>
      <if test="record.producedDate != null">
        produced_date = #{record.producedDate,jdbcType=DATE},
      </if>
      <if test="record.expiryDate != null">
        expiry_date = #{record.expiryDate,jdbcType=DATE},
      </if>
      <if test="record.pemSupplierId != null">
        pem_supplier_id = #{record.pemSupplierId,jdbcType=INTEGER},
      </if>
      <if test="record.iymInventoryAddId != null">
        iym_inventory_add_id = #{record.iymInventoryAddId,jdbcType=INTEGER},
      </if>
      <if test="record.notes != null">
        notes = #{record.notes,jdbcType=VARCHAR},
      </if>
      <if test="record.sysClinicId != null">
        sys_clinic_id = #{record.sysClinicId,jdbcType=INTEGER},
      </if>
      <if test="record.creatorId != null">
        creator_id = #{record.creatorId,jdbcType=INTEGER},
      </if>
      <if test="record.creationDate != null">
        creation_date = #{record.creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.approverId != null">
        approver_id = #{record.approverId,jdbcType=INTEGER},
      </if>
      <if test="record.approveDate != null">
        approve_date = #{record.approveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.approveState != null">
        approve_state = #{record.approveState,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update iym_self_used_record
    set id = #{record.id,jdbcType=INTEGER},
      lsh = #{record.lsh,jdbcType=VARCHAR},
      mxh = #{record.mxh,jdbcType=VARCHAR},
      iym_inventory_id = #{record.iymInventoryId,jdbcType=INTEGER},
      gsm_goods_id = #{record.gsmGoodsId,jdbcType=INTEGER},
      ph = #{record.ph,jdbcType=VARCHAR},
      pch = #{record.pch,jdbcType=VARCHAR},
      split_quantity = #{record.splitQuantity,jdbcType=INTEGER},
      quantity = #{record.quantity,jdbcType=SMALLINT},
      cost_price = #{record.costPrice,jdbcType=REAL},
      average_cost_price = #{record.averageCostPrice,jdbcType=REAL},
      purchase_tax_rate = #{record.purchaseTaxRate,jdbcType=TINYINT},
      sell_tax_rate = #{record.sellTaxRate,jdbcType=TINYINT},
      produced_date = #{record.producedDate,jdbcType=DATE},
      expiry_date = #{record.expiryDate,jdbcType=DATE},
      pem_supplier_id = #{record.pemSupplierId,jdbcType=INTEGER},
      iym_inventory_add_id = #{record.iymInventoryAddId,jdbcType=INTEGER},
      notes = #{record.notes,jdbcType=VARCHAR},
      sys_clinic_id = #{record.sysClinicId,jdbcType=INTEGER},
      creator_id = #{record.creatorId,jdbcType=INTEGER},
      creation_date = #{record.creationDate,jdbcType=TIMESTAMP},
      approver_id = #{record.approverId,jdbcType=INTEGER},
      approve_date = #{record.approveDate,jdbcType=TIMESTAMP},
      approve_state = #{record.approveState,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="pers.tandy.chis.modules.inventorymanagement.bean.SelfUsedRecord">
    update iym_self_used_record
    <set>
      <if test="lsh != null">
        lsh = #{lsh,jdbcType=VARCHAR},
      </if>
      <if test="mxh != null">
        mxh = #{mxh,jdbcType=VARCHAR},
      </if>
      <if test="iymInventoryId != null">
        iym_inventory_id = #{iymInventoryId,jdbcType=INTEGER},
      </if>
      <if test="gsmGoodsId != null">
        gsm_goods_id = #{gsmGoodsId,jdbcType=INTEGER},
      </if>
      <if test="ph != null">
        ph = #{ph,jdbcType=VARCHAR},
      </if>
      <if test="pch != null">
        pch = #{pch,jdbcType=VARCHAR},
      </if>
      <if test="splitQuantity != null">
        split_quantity = #{splitQuantity,jdbcType=INTEGER},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=SMALLINT},
      </if>
      <if test="costPrice != null">
        cost_price = #{costPrice,jdbcType=REAL},
      </if>
      <if test="averageCostPrice != null">
        average_cost_price = #{averageCostPrice,jdbcType=REAL},
      </if>
      <if test="purchaseTaxRate != null">
        purchase_tax_rate = #{purchaseTaxRate,jdbcType=TINYINT},
      </if>
      <if test="sellTaxRate != null">
        sell_tax_rate = #{sellTaxRate,jdbcType=TINYINT},
      </if>
      <if test="producedDate != null">
        produced_date = #{producedDate,jdbcType=DATE},
      </if>
      <if test="expiryDate != null">
        expiry_date = #{expiryDate,jdbcType=DATE},
      </if>
      <if test="pemSupplierId != null">
        pem_supplier_id = #{pemSupplierId,jdbcType=INTEGER},
      </if>
      <if test="iymInventoryAddId != null">
        iym_inventory_add_id = #{iymInventoryAddId,jdbcType=INTEGER},
      </if>
      <if test="notes != null">
        notes = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="sysClinicId != null">
        sys_clinic_id = #{sysClinicId,jdbcType=INTEGER},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="creationDate != null">
        creation_date = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="approverId != null">
        approver_id = #{approverId,jdbcType=INTEGER},
      </if>
      <if test="approveDate != null">
        approve_date = #{approveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="approveState != null">
        approve_state = #{approveState,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pers.tandy.chis.modules.inventorymanagement.bean.SelfUsedRecord">
    update iym_self_used_record
    set lsh = #{lsh,jdbcType=VARCHAR},
      mxh = #{mxh,jdbcType=VARCHAR},
      iym_inventory_id = #{iymInventoryId,jdbcType=INTEGER},
      gsm_goods_id = #{gsmGoodsId,jdbcType=INTEGER},
      ph = #{ph,jdbcType=VARCHAR},
      pch = #{pch,jdbcType=VARCHAR},
      split_quantity = #{splitQuantity,jdbcType=INTEGER},
      quantity = #{quantity,jdbcType=SMALLINT},
      cost_price = #{costPrice,jdbcType=REAL},
      average_cost_price = #{averageCostPrice,jdbcType=REAL},
      purchase_tax_rate = #{purchaseTaxRate,jdbcType=TINYINT},
      sell_tax_rate = #{sellTaxRate,jdbcType=TINYINT},
      produced_date = #{producedDate,jdbcType=DATE},
      expiry_date = #{expiryDate,jdbcType=DATE},
      pem_supplier_id = #{pemSupplierId,jdbcType=INTEGER},
      iym_inventory_add_id = #{iymInventoryAddId,jdbcType=INTEGER},
      notes = #{notes,jdbcType=VARCHAR},
      sys_clinic_id = #{sysClinicId,jdbcType=INTEGER},
      creator_id = #{creatorId,jdbcType=INTEGER},
      creation_date = #{creationDate,jdbcType=TIMESTAMP},
      approver_id = #{approverId,jdbcType=INTEGER},
      approve_date = #{approveDate,jdbcType=TIMESTAMP},
      approve_state = #{approveState,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>




  <!--***************************************************************************************************************-->

  <insert id="insertList">
    insert into iym_self_used_record
    (
    id,
    lsh,
    mxh,
    iym_inventory_id,
    gsm_goods_id,
    ph,
    pch,
    split_quantity,
    quantity,
    cost_price,
    average_cost_price,
    purchase_tax_rate,
    sell_tax_rate,
    produced_date,
    expiry_date,
    pem_supplier_id,
    iym_inventory_add_id,
    notes,
    sys_clinic_id,
    creator_id,
    creation_date,
    approver_id,
    approve_date,
    approve_state
    )
    values
    <foreach collection="selfUsedRecordList" item="selfUsedRecord" separator="," close=";">
      (
      #{selfUsedRecord.id,jdbcType=INTEGER},
      #{selfUsedRecord.lsh,jdbcType=VARCHAR},
      #{selfUsedRecord.mxh,jdbcType=VARCHAR},
      #{selfUsedRecord.iymInventoryId,jdbcType=INTEGER},
      #{selfUsedRecord.gsmGoodsId,jdbcType=INTEGER},
      #{selfUsedRecord.ph,jdbcType=VARCHAR},
      #{selfUsedRecord.pch,jdbcType=VARCHAR},
      #{selfUsedRecord.splitQuantity,jdbcType=INTEGER},
      #{selfUsedRecord.quantity,jdbcType=SMALLINT},
      #{selfUsedRecord.costPrice,jdbcType=REAL},
      #{selfUsedRecord.averageCostPrice,jdbcType=REAL},
      #{selfUsedRecord.purchaseTaxRate,jdbcType=TINYINT},
      #{selfUsedRecord.sellTaxRate,jdbcType=TINYINT},
      #{selfUsedRecord.producedDate,jdbcType=DATE},
      #{selfUsedRecord.expiryDate,jdbcType=DATE},
      #{selfUsedRecord.pemSupplierId,jdbcType=INTEGER},
      #{selfUsedRecord.iymInventoryAddId,jdbcType=INTEGER},
      #{selfUsedRecord.notes,jdbcType=VARCHAR},
      #{selfUsedRecord.sysClinicId,jdbcType=INTEGER},
      #{selfUsedRecord.creatorId,jdbcType=INTEGER},
      #{selfUsedRecord.creationDate,jdbcType=TIMESTAMP},
      #{selfUsedRecord.approverId,jdbcType=INTEGER},
      #{selfUsedRecord.approveDate,jdbcType=TIMESTAMP},
      #{selfUsedRecord.approveState,jdbcType=TINYINT}
      )
    </foreach>
  </insert>

  <update id="updateApproveState">
    update iym_self_used_record
    set approver_id = #{approverId}, approve_date = #{approveDate}, approve_state = #{approveState}
    where lsh =#{lsh}
  </update>

  <select id="selectByCriteria" resultType="map">
    select *
    from view_iym_self_used_record
    <trim prefix="where" suffixOverrides="and">
      <if test="sysClinicId != null">
        (sysClinicId = #{sysClinicId}) and
      </if>
      <if test="creationDate != null &amp;&amp; creationDate.length == 2">
        (DATE_FORMAT(creationDate, '%Y-%m-%d') between #{creationDate[0]} and #{creationDate[1]}) and
      </if>
      <if test="approveState != null">
        (approveState = #{approveState}) and
      </if>
      <if test="sysClinicName != null &amp;&amp; sysClinicName.trim() != ''">
        (sysClinicName like '${sysClinicName}%' or sysClinicCode like '${sysClinicName}%') and
      </if>
      <if test="lsh != null &amp;&amp; lsh.trim() != ''">
        (lsh like '${lsh}%') and
      </if>
    </trim>
    order by creationDate desc, mxh
  </select>

  <select id="selectClinicGroupListByCriteria" resultType="map">
    select *
    from view_iym_self_used_record
    <trim prefix="where" suffixOverrides="and">
      <if test="sysClinicId != null">
        (sysClinicId = #{sysClinicId}) and
      </if>
      <if test="creationDate != null &amp;&amp; creationDate.length == 2">
        (DATE_FORMAT(creationDate, '%Y-%m-%d') between #{creationDate[0]} and #{creationDate[1]}) and
      </if>
      <if test="approveState != null">
        (approveState = #{approveState}) and
      </if>
      <if test="lsh != null &amp;&amp; lsh.trim() != ''">
        (lsh like '${lsh}%') and
      </if>
    </trim>
    group by lsh
    order by creationDate desc
  </select>

  <select id="selectByLsh" resultType="map">
    select *
    from view_iym_self_used_record
    where lsh = #{lsh}
  </select>



</mapper>
